.main {
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: $screen-xxl) {
  .main {
    max-width: 600px;
  }
}

@media (max-width: $screen-xl) {
  .main {
    max-width: 400px;
  }
}

@media (max-width: $screen-md) {
  .main {
    max-width: 355px;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: $screen-sm) {
  .main {
    max-width: 300px;
  }
}
