.tic-tac-toe--hide {
  display: none;
}

.tic-tac-toe__board {
  width: 800px;
  height: 800px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, calc(100% / 3));
  grid-gap: 5px;

  position: relative;
}

.tic-tac-toe__cell {
  box-shadow: 0 0 0 5px $text-color;
  cursor: pointer;

  &:hover {
    background-color: $active-color;
  }
}

.tic-tac-toe__cell--active {
  background-color: $active-color;
  cursor: auto;
}

.tic-tac-toe__cell-img {
  width: 100%;
  height: 100%;
}

.cross--draw {
  .cross__first,
  .cross__second {
    stroke-dasharray: 225;
    stroke-dashoffset: 225;
    animation: draw 0.5s forwards;
  }

  .cross__second {
    animation: draw 0.5s 0.5s forwards;
  }
}

.zero--draw {
  stroke-dasharray: 582;
  stroke-dashoffset: 582;
  animation: draw 1s forwards;
}

.cross--hide {
  display: none;
}

.zero--hide {
  display: none;
}

@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}

.tic-tac-toe__win-line-area {
  position: absolute;
  width: 100%;
  height: calc(100% + 10px);
}

.win-img {
  display: none;
  width: 100%;
  height: 100%;
}

.win-img--draw {
  display: block;
  stroke-dasharray: 720;
  stroke-dashoffset: 720;
  animation: draw 2s forwards;
}

.win-img--draw-diagonal {
  display: block;
  stroke-dasharray: 1020;
  stroke-dashoffset: 1020;
  animation: draw 2s forwards;
}

@media (max-width: $screen-xxl) {
  .tic-tac-toe__board {
    width: 600px;
    height: 600px;
  }
}

@media (max-width: $screen-xl) {
  .tic-tac-toe__board {
    width: 400px;
    height: 400px;
  }

  .win-img {
    line {
      stroke-width: 30;
    }
  }
}

@media (max-width: $screen-md) {
  .tic-tac-toe__board {
    width: 340px;
    height: 340px;
  }

  .win-img {
    line {
      stroke-width: 25;
    }
  }
}

@media (max-width: $screen-sm) {
  .tic-tac-toe__board {
    width: 280px;
    height: 280px;
  }
}
