div.tic-tac-toe#tic-tac-toe.tic-tac-toe--hide
    include ../score/_score
    div.tic-tac-toe__board
        div.tic-tac-toe__cell
            +cross("10", "tic-tac-toe__cell-img cross--draw cross--hide")
            +zero("10", "tic-tac-toe__cell-img zero--draw zero--hide")
        div.tic-tac-toe__cell
            +cross("10", "tic-tac-toe__cell-img cross--draw cross--hide")
            +zero("10", "tic-tac-toe__cell-img zero--draw zero--hide")
        div.tic-tac-toe__cell
            +cross("10", "tic-tac-toe__cell-img cross--draw cross--hide")
            +zero("10", "tic-tac-toe__cell-img zero--draw zero--hide")
        div.tic-tac-toe__cell
            +cross("10", "tic-tac-toe__cell-img cross--draw cross--hide")
            +zero("10", "tic-tac-toe__cell-img zero--draw zero--hide")
        div.tic-tac-toe__cell
            +cross("10", "tic-tac-toe__cell-img cross--draw cross--hide")
            +zero("10", "tic-tac-toe__cell-img zero--draw zero--hide")
        div.tic-tac-toe__cell
            +cross("10", "tic-tac-toe__cell-img cross--draw cross--hide")
            +zero("10", "tic-tac-toe__cell-img zero--draw zero--hide")
        div.tic-tac-toe__cell
            +cross("10", "tic-tac-toe__cell-img cross--draw cross--hide")
            +zero("10", "tic-tac-toe__cell-img zero--draw zero--hide")
        div.tic-tac-toe__cell
            +cross("10", "tic-tac-toe__cell-img cross--draw cross--hide")
            +zero("10", "tic-tac-toe__cell-img zero--draw zero--hide")
        div.tic-tac-toe__cell
            +cross("10", "tic-tac-toe__cell-img cross--draw cross--hide")
            +zero("10", "tic-tac-toe__cell-img zero--draw zero--hide")