include ./_includes
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Tic Tac Toe
    body
        include ./blocks/header/_header
        main.main
            include ./blocks/menu-window/_menu-window
            include ./blocks/tic-tac-toe/_tic-tac-toe