$btn-color: rgb(235, 232, 232);
$active-color: rgb(209, 205, 205);
$text-color: black;
$error-color: red;

$border: 2px solid $text-color;

$main-font: "Muller", sans-serif;

$screen-sm: 419px;
$screen-md: 853px;
$screen-xl: 1919px;
$screen-xxl: 2559px;
