div.stats#stats
    h2.stats__title  Stats
    table.stats__table#singleplayer-stats-table
        caption.stats__subtitle Singleplayer game
        tr.stats__table-title-row
            th.stats__table-title Player Name
            th.stats__table-title W
            th.stats__table-title D
            th.stats__table-title L
    table.stats__table#multiplayer-stats-table
        caption.stats__subtitle Multiplayer game
        tr.stats__table-title-row
            th.stats__table-title Player Name
            th.stats__table-title W
            th.stats__table-title D
            th.stats__table-title L