.stats {
  margin-bottom: 20px;

  & > :not(:last-child) {
    margin-bottom: 10px;
  }

  .stats__title {
    font-size: 40px;
    margin-bottom: 15px;
  }
}

.stats--hide {
  display: none;
}

.stats__table {
  width: 100%;

  th:first-child {
    text-align: left;
  }
}

.stats__table--hide {
  display: none;
}

.stats__subtitle {
  font-size: 30px;
  margin-bottom: 5px;
  font-weight: 600;
  text-align: left;
}

.stats__table-title {
  font-size: 25px;
  font-weight: 600;
}

.stats__table-value {
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: $screen-xl) {
  .stats {
    margin-bottom: 15px;

    & > :not(:last-child) {
      margin-bottom: 7px;
    }

    .stats__title {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }

  .stats__subtitle {
    font-size: 20px;
    margin-bottom: 3px;
  }

  .stats__table-title {
    font-size: 17px;
  }

  .stats__table-value {
    font-size: 14px;
  }
}
